

:root {
  --dark-mode-bg-color: #1a252f;
  --light-mode-btn-color:blue;
  --color-grey:grey;
  --color-white:white;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}




.navbar {
  background-color: white; 
  color: #ffffff;
  color:black;
  padding: 12px;

  padding-left: 30px;;
  padding-right: 70px;;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom:2px solid var(--color-grey);
}
.dark-mode .navbar{
  background-color: var(--dark-mode-bg-color);
  color:var(--color-white);

}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.controls button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 600;
}






.light-mode .controls button {
  background-color: #0077cc;
  color:var(--color-white);
}


.dark-mode .controls button {
  background-color: #444;
  color: #ffffff;
}


.controls button:hover {
  opacity: 0.9;
}


.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}


.sidebar {
  min-width: 280px;
  max-width: 280px;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  flex-shrink: 0;
}

.left{
  border-right: 1px solid var(--color-grey);
}


.right{
  border-left: 1px solid var(--color-grey);
}


.light-mode .sidebar {
  background-color: #F9FAFB;
  color: #000;

}


.dark-mode .sidebar {
  background-color: var(--dark-mode-bg-color);
  color: #ffffff;
}


.content {
  flex: 1;
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.terminal {
  color:var(--color-white);
  padding: 12px;
  overflow-y: auto;
  border-top: 5px solid #f8aa0f; 

  position: relative;
  resize: vertical;
}



.resizer {
  height: 5px;
  background: #0056b3; 
  cursor: ns-resize;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.light-mode {
  background-color: #f9f9f9;
  color: #000000;
}


.dark-mode {
  background-color:var(--dark-mode-bg-color); 
  color: #ffffff;
}
.dark-mode textarea{
  background-color: var(--dark-mode-bg-color);
  color:var(--color-white);
}
.dark-mode .dropdown{
  background-color: var(--dark-mode-bg-color);

}


.terminal-container{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  z-index: 1000;
}


.databaseicon{
  padding-right:5px;
}

.layout-controls {
  position: absolute;
  background: #333;
  padding: 10px;
  border-radius: 5px;
  margin-top:20px ;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.layout-controls  button{
  margin:5px;
}


